<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>js驱动的页面</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
<div class="wrapper">
	<div class="icon_0" id='icon_0' ></div>
	<div class="icon_1" id='icon_1' ></div>
	<div class="icon_2" id='icon_2' ></div>
	<div class="icon_3" id='icon_3' ></div>
	<img class="icon_4 icon_4_show"  id='icon_4' src='../../image/icon_4.png'/>
</div>


<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>